# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [23]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [24]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [25]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [26]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [28]:
country_surface['Population'] = country_pop['Population (2020)']
country_surface['Density_pop'] = country_surface['Population'] / country_surface['Land Area (Km²)'] 
country_surface = country_surface[country_surface['Country (or dependency)'].isin(countries)] 
filtred_countries = country_surface.sort_values(by='Density_pop', ascending=False).loc[:, 'Country (or dependency)'].values
"".join([country[0] for country in filtred_countries])

'CLIMATECHANGING'