# Intro

The dataset loaded below represents a random sample of cars speed on certain roads.

Can you figure out what the speed limit is for each road?
Write back the sum of all roads speeds limits back on the data-puzzles webpage!

# Kickstart

In [1]:
import pandas as pd

speeds_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/visualisation/speeds_data.csv')

In [2]:
speeds_df.head()

      plate road  speed
0  DN9166SU  R87   49.7
1  CG4862ZS  R87   49.4
2  DV4956AM  R87   49.9
3  TL4125OA  R87   51.3
4  LX3827BI  R87   48.1

In [43]:
# Your turn now! figure out the speed limit per road and add them up!

In [42]:
import numpy as np

np.sum([round(np.percentile(speeds_df.loc[speeds_df['road']==road, 'speed'], 90), -1) for road in speeds_df['road'].unique()])

470.0