# Intro

The dataset loaded below represents a random sample of cars speed on certain roads.

Can you figure out what the speed limit is for each road?
Write back the sum of all roads speeds limits back on the data-puzzles webpage!

# Kickstart

In [1]:
import pandas as pd

speeds_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/visualisation/speeds_data.csv')

In [2]:
speeds_df.head()

      plate road  speed
0  DN9166SU  R87   49.7
1  CG4862ZS  R87   49.4
2  DV4956AM  R87   49.9
3  TL4125OA  R87   51.3
4  LX3827BI  R87   48.1

In [3]:
import numpy as np

np.sum([round(np.percentile(speeds_df.loc[speeds_df['road']==road, 'speed'], 90), -1) for road in speeds_df['road'].unique()])

470.0

In [30]:
speeds_limit = [round(np.percentile(speeds_df.loc[speeds_df['road']==road, 'speed'], 90), -1) for road in speeds_df['road'].unique()]
max_speeds = [speeds_df.loc[speeds_df['road']==road, 'speed'].max() for road in speeds_df['road'].unique()]

for speed_limit, max_speed in zip(speeds_limit, max_speeds):
    print('avg speed', speed_limit, ', max speed', max_speed)
    print(round((max_speed/speed_limit)*100 - 100), '% diff')
    print('-'*20)

avg speed 50.0 , max speed 55.3
11 % diff
--------------------
avg speed 70.0 , max speed 75.9
8 % diff
--------------------
avg speed 100.0 , max speed 114.9
15 % diff
--------------------
avg speed 90.0 , max speed 97.1
8 % diff
--------------------
avg speed 130.0 , max speed 164.3
26 % diff
--------------------
avg speed 30.0 , max speed 40.5
35 % diff
--------------------

In [28]:
speeds_df.loc[speeds_df['speed']==40.5, 'plate'].values[0]

'RQ3458CQ'